<mat-card *ngIf="product" class="product-container">
  <mat-card-header>
    <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
    <mat-card-subtitle class="product-price">$ {{ product.price | number:'1.2-2' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-category" *ngIf="product.category">
      Category: {{ product.category }}
    </p>
  </mat-card-content>
</mat-card>
