<app-example-display
  title="Breadcrumbs"
  description="Demonstrates how to use breadcrumbs in Angular."
  [codeSnippets]="breadcrumbsCode"
>
  <app-example-info [item]="exampleInfo"></app-example-info>

  <section class="breadcrumbs-demo">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="products-link">
      <a
        class="btn-products"
        [routerLink]="['/breadcrumbs', 'products']"
        routerLinkActive="hidden"
      >
        Products
      </a>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</app-example-display>
