<div class="example-container">
    <div class="example">
      <h2>MergeMap Example</h2>
      <p>
        Merges the values from multiple Observables into a single Observable.
      </p>
      <p>Merged Values:</p>
      <ul>
        <li *ngFor="let value of mergedValues">{{ value }}</li>
      </ul>
    </div>
  
    <div class="code-snippet">
      <h3>Component Code:</h3>
      <textarea highlight-js [options]="{}" [lang]="'typescript'" readonly>
        @Component({
            selector: 'app-merge-map-example',
            templateUrl: './merge-map-example.component.html',
            styleUrls: ['./merge-map-example.component.scss']
          })
          export class MergeMapExampleComponent implements OnInit {
          
            mergedValues: string[] = [];
            constructor(private http: HttpClient) { }
          
            ngOnInit(): void {
              const source$ = interval(1000).pipe(
                map(val => `Source: ${val}`),
                mergeMap(val => this.fetchUserData(val))
              );
          
              source$.subscribe(value => {
                this.mergedValues.push(value);
                console.log(value); // Logs the values from the merged observables
              });
            }
          
            fetchUserData(value: string) {
              const userId = Math.floor(Math.random() * 10) + 1;
              return this.http.get(`https://jsonplaceholder.typicode.com/users/${userId}`).pipe(
                map((user: any) => `User Data for ${value}: ${user.name}`)
              );
            }
          }
      </textarea>
    </div>
  </div>