<mat-card class="lifecycle-card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p #childParagraph class="content-paragraph">
      I'm the child component content
    </p>

    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="toggleHighlight()">
      <mat-icon>{{ highlight ? 'highlight_off' : 'highlight' }}</mat-icon>
      Toggle Highlight
    </button>
  </mat-card-actions>
</mat-card>
